defaults:
- _self_
- critic: fsdp

data:
  path: null
  max_length: null
  batch_size: 128
  prompt_key: prompt
  chosen_key: chosen
  rejected_key: rejected
  apply_chat_template: true

trainer:
  project: null
  experiment_name: null
  load_ckpt_from: null
  n_epochs: 1
  save_dir: ckpts/${trainer.experiment_name}
  save_freq: null
  use_wandb: true