defaults:
- _self_
- actor: fsdp

data:
  path: null
  max_length: null
  batch_size: 128
  prompt_key: prompt
  response_key: response
  messages_key: messages
  apply_chat_template: true

actor:
  avg_level: token

trainer:
  project: null
  experiment_name: null
  load_ckpt_from: null
  n_epochs: 1
  save_dir: ckpts/${trainer.experiment_name}
  save_freq: null
  use_wandb: true